.meaning{
  display:flex;
  flex-direction:column;
  overflow-y:scroll;
  scrollbar-width:thin;
  height:55vh;
  border:10px solid rgb(105,105,105);
  border-radius:10px;
  overflow-x:hidden;
  padding:10px 20px;
}
.subtitle{
  font-size:5vw;
  font-family:'montserrat', sans-serif;
  font-weight:thin;

}
.single-mean{
  display:flex;
  flex-direction:column;
  border-radius:8px;
  padding:8px 16px;
  margin:10px 0;
}
@media (max-widrh:900px){
  .meaning{
    height:60vh;
  }
}
